
<div class="container mt-4 title">
    <div class="row">
        <div class="col">
            <h1>
                 <i class="fa-solid fa-pen "></i> &nbsp;
                      Edit Contact Page
                </h1>
                 <p style="text-align: justify ; font-family: 'Times New Roman', Times, serif; " >
                    this is dummy data : Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam esse quos alias? Eveniet, dicta molestias sed ratione voluptatem saepe, in praesentium aliquam, quod cupiditate laboriosam. Recusandae dolor rem quos quibusdam! Lorem ipsum dolor sit, amet consectetur adipisicing elit. Consequatur voluptatem rem dolore numquam in dolores non. Qui, voluptate distinctio necessitatibus voluptatem odit itaque accusantium dignissimos facere, minima hic mollitia fugit. Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas pariatur architecto nostrum porro, hic quod illo praesentium nihil voluptates voluptate? Suscipit quia at maiores numquam fugiat ipsam voluptas rerum tenetur.
                 </p>
         </div>
     </div>

     <div class="container mt-5  card list-group-item-secondary">
               <div class="row">
                  <div class="col-md-8">
                    <form class=" border  p-3 rounded c">
                        <div class="mb-2">
                            <input placeholder= "Name" type="text"  class="form-control">
                            </div>
                            <div class="mb-2">
                            <input placeholder= "Photo URL" type="text"  class="form-control">  
                            </div >
                            <div class="mb-2" >
                            <input placeholder= "Email ID" type="text"  class="form-control">  
                            </div>
                            <div class="mb-2">
                             <input placeholder= "Mobile Number" type="text"  class="form-control">  
                            </div>
                            <div class="mb-2">
                            <input placeholder= "Company" type="text"  class="form-control">  
                            </div>
                            <div class="mb-2">
                            <input placeholder= "Title" type="text"  class="form-control">  
                            </div>
                            <div class="mb-2">
                            <select name="" id="" class="form-control">
                                <option value="" selected hidden disabled>Select A Group</option>
                                <option value="">Family</option>
                                <option value="">Friends</option>
                            </select>  
                            </div>
                            <div class="mb-2">
                                <input value="Update" type="button" class="btn btn-success">
                                <a routerLink="/" class="btn btn-warning ms-3">Close</a>

                            </div>
 
                      </form>
                  </div>
                  <div class="col md-4">
                    <img width="250px" style="margin-left: 1px;margin-top: 50px;" src="https://www.shareicon.net/data/2016/07/08/116927_man_512x512.png" alt="no image"  >

                  </div>
             </div>
     </div>
</div>

