<div class="container mt-5">
    <div class="row" >
        <div class="col text-center title">
        <h1 style="font-size: 90px; background-color: bisque; color: rgb(139, 61, 61);">404</h1>
        <!-- <img src="https://content.presentermedia.com/content/animsp/00021000/21517/lightbulb_flashing_ideas_300_wht.gif  " alt="no image" > -->
        <img src="http://nr1a.com/gifs/__DOG12.gif" alt="no image">
        <h4 style="background-color: bisque; font-size: 30px;">Looks like you're lost</h4>
        <p style="background-color: bisque;">The page your looking for is not available</p>
        </div>
    </div>
</div>
